// colors
// primary colors
$peach-color: #e7816a;
$black-color: #1d1c1e;
$background-color: #000000;
$white-color: #ffffff;
$white-two-color: #dcdcdc;

// secondary colors
$light-peach-color: #ffad9b;
$dark-grey-color: #333136;
$light-grey-color: #f1f3f5db;
$border-grey-color: #dfdfdf;
$design-color: hwb(0 79% 10%);

// fonts
$main-ff: "Jost", sans-serif;
$secondary-ff: "League Spartan", sans-serif;
